

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* The navigation bar */

#navbar {
  display: flex;
  position: sticky;
  justify-content: flex-end;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: black;
  z-index: 0;
}

nav button {
  float: right;
  display: block;
  text-decoration: none;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  padding: 5px 20px;
  font-size: 20px;
  transition: transform 0.3s ease;
}

nav button:hover {
  background: #F0544F;
  transition: all 1.5s ease;
}

nav button:focus {
  border: none;
  background: #F0544F;
}

#logo {
  width: 50px;
  height: 50px;
  margin: 12px;
  margin-right: auto;
  cursor: pointer;
}

/* the sections ALL */

section a {
  text-decoration: none;
  color: #272932;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 20px;
}

/* The welcome section */

#section1 {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "div1    . "
    "  .   div2";
  background-image: url(./images/Backgroundcorner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 90vh;
  max-width: 100%;

}

#div1 {
  font-size: 20px;
  grid-area: div1;
  padding: 15%; 
}

#div2 {
  font-size: 16px;
  grid-area: div2; 
  color: black;
  padding: 15%; 
}

#line1 {
  width: 100%;
  background: #F0544F;
  height: 8px;
  margin-top: 20px;
}

/* The projects section */

#section2 {
  max-width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "my-projects  my-projects  my-projects"
    "project6     project5     project4"
    "project3     project2     project1";
}

.project-tile {
  text-align: center;
  align-items: center;
  margin: 5% 15%;
  border: 2px solid #F0544F;
  border-radius: 15px;
}

.project-image { padding: 10px;}
.project-title { color: whitesmoke; background-color:#F0544F; padding: 1px; }
.project-stack { padding: 0; }
.project-content { padding: 0 30px; text-align: justify; }

section img {
  max-width: 150px;
}

#my-projects {
  grid-area: my-projects;
}

/* The contact section */

#section3 {
  background-image: url(./images/Backgroundcornerbot.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  height: 95vh;
  max-width: 100%;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  grid-template-areas:
    "my-medias     my-medias      my-medias"
    "   more           .              .    "
    "     .            .          github   "
    "    .        freecodecamp    linkedin ";
}

.fa-free-code-camp,
.fa-github,
.fa-linkedin-in {
  font-size: 60px;
  padding: 5px;
  padding-right: 25px;
}

#section3 a {
  color: white;
}

#more a {
  color: #F0544F;
  font-size: initial;
  padding: 0;
  margin: 0;
}

#my-medias {
  grid-area: my-medias;
  align-self: start;
}

#more {
  margin: 0 40%;
  grid-area: more;
  align-self: start;
  padding: 10px;
  margin-left: 10px;
}

#span2 {
  width: 100%;
  background: #F0544F;
  display: block;
  height: 8px;
  margin-top: 20px;
}

#github {
  grid-area: github;
}

#linkedin {
  grid-area: linkedin;
}

#freecodecamp {
  grid-area: freecodecamp;
}

/* NOTE : The background of the modal when we click on the "resume button"  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* NOTE : the content of the modal when we click on the "resume button"  */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid grey;
  width: 80%;
}

/* The footer */

footer {
  background-color: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* The media query */

@media (min-width: 650px) and (max-width: 1080px) {

  #section2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "my-projects    my-projects"
      "project6       project5"
      "project4       project3"
      "project2       project1";
  }

  #section3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas:
    "my-medias     my-medias      my-medias"
    "   more           more           .    "
    "     .            .          github   "
    "    .        freecodecamp    linkedin";
  }
}

@media (max-width: 650px) {
  
  #div1 {
    font-size: 13px;
    margin: 30% 5%;
    padding-right: 5px;
  }

  #div2 {
    font-size: 13px;
    margin: 0;
    padding-right: 10px;
  }

  #section2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "my-projects"
      "project6"
      "project5"
      "project4"
      "project3"
      "project2"
      "project1";
  }



  #section3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    grid-template-areas:
    "my-medias     my-medias      my-medias"
    "   more           more           .    "
    "     .            .          github   "
    "    .        freecodecamp    linkedin";
  }

  .fa-free-code-camp,
  .fa-github,
  .fa-linkedin-in {
    font-size: 40px;
    padding: 0px;
    padding-right: 20px;
  }
}
